.Header-main {
  background-color: #222;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  width: 100vw;
}

.Header-left {
  float: left;
  height: 30px;
  margin: 15px;
}

.Header-right {
  float: right;
  height: 30px;
  margin: 15px;
}
